{% extends 'base/parent.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="header-bar">
    <p><a href="{% url 'tasks' %}">&#8592; Back</a></p>
</div>

<div class="delete-wrapper">
    <form action="" method="post">{% csrf_token %}
      <p>Are you sure you want to delete this task? "{{ task }}"</p>
      <input type="submit" value="Delete" class="button delete">
    </form>
</div>


</body>
</html>

{% endblock %}